header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-bottom-color: #CCCCCC;
    background:url(../images/logo.png);
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    background-position: 20px top;
}